In [1]:
import csv
from os import path

import pandas as pd
from rdflib import *

In [2]:
g = Graph()
g.parse(r'../ontologies/ontology_turtle.ttl')
g.parse(r'../ontologies/BIGOWLData.owl')
g.parse(r'../ontologies/BIGOWLProblems.owl')
g.parse(r'../ontologies/BIGOWLAlgorithms.owl')
g.parse(r'../ontologies/BIGOWLWorkflows.owl')

In [3]:
dataset_path = r'./titanic.csv'
csvfile = open(dataset_path, 'r')
encoding = csvfile.encoding
lines = [csvfile.readline() for i in range(50)]
dialect = csv.Sniffer().sniff(''.join(lines))
headers = csv.Sniffer().has_header(''.join(lines))
csvfile.close()

In [4]:
df = pd.read_csv(r'./titanic.csv')

In [5]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [6]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [7]:
num_rows = len(df.index)
num_cols = len(df.columns)
print(f"Number of rows: {num_rows}")
print(f"Number of columns: {num_cols}")

Number of rows: 891
Number of columns: 12

In [8]:
list(g.namespaces())

[('brick', rdflib.term.URIRef('https://brickschema.org/schema/Brick#')),
 ('csvw', rdflib.term.URIRef('http://www.w3.org/ns/csvw#')),
 ('dc', rdflib.term.URIRef('http://purl.org/dc/elements/1.1/')),
 ('dcat', rdflib.term.URIRef('http://www.w3.org/ns/dcat#')),
 ('dcmitype', rdflib.term.URIRef('http://purl.org/dc/dcmitype/')),
 ('dcterms', rdflib.term.URIRef('http://purl.org/dc/terms/')),
 ('dcam', rdflib.term.URIRef('http://purl.org/dc/dcam/')),
 ('doap', rdflib.term.URIRef('http://usefulinc.com/ns/doap#')),
 ('foaf', rdflib.term.URIRef('http://xmlns.com/foaf/0.1/')),
 ('geo', rdflib.term.URIRef('http://www.opengis.net/ont/geosparql#')),
 ('odrl', rdflib.term.URIRef('http://www.w3.org/ns/odrl/2/')),
 ('org', rdflib.term.URIRef('http://www.w3.org/ns/org#')),
 ('prof', rdflib.term.URIRef('http://www.w3.org/ns/dx/prof/')),
 ('prov', rdflib.term.URIRef('http://www.w3.org/ns/prov#')),
 ('qb', rdflib.term.URIRef('http://purl.org/linked-data/cube#')),
 ('schema', rdflib.term.URIRef('https://schema.org/')),
 ('sh', rdflib.term.URIRef('http://www.w3.org/ns/shacl#')),
 ('skos', rdflib.term.URIRef('http://www.w3.org/2004/02/skos/core#')),
 ('sosa', rdflib.term.URIRef('http://www.w3.org/ns/sosa/')),
 ('ssn', rdflib.term.URIRef('http://www.w3.org/ns/ssn/')),
 ('time', rdflib.term.URIRef('http://www.w3.org/2006/time#')),
 ('vann', rdflib.term.URIRef('http://purl.org/vocab/vann/')),
 ('void', rdflib.term.URIRef('http://rdfs.org/ns/void#')),
 ('wgs', rdflib.term.URIRef('https://www.w3.org/2003/01/geo/wgs84_pos#')),
 ('owl', rdflib.term.URIRef('http://www.w3.org/2002/07/owl#')),
 ('rdf', rdflib.term.URIRef('http://www.w3.org/1999/02/22-rdf-syntax-ns#')),
 ('rdfs', rdflib.term.URIRef('http://www.w3.org/2000/01/rdf-schema#')),
 ('xsd', rdflib.term.URIRef('http://www.w3.org/2001/XMLSchema#')),
 ('xml', rdflib.term.URIRef('http://www.w3.org/XML/1998/namespace')),
 ('boa', rdflib.term.URIRef('https://w3id.org/BIGOWLAlgorithms#')),
 ('bod', rdflib.term.URIRef('https://w3id.org/BIGOWLData#')),
 ('bop', rdflib.term.URIRef('https://w3id.org/BIGOWLProblems#')),
 ('bow', rdflib.term.URIRef('https://w3id.org/BIGOWLWorkflows#')),
 ('diviloper', rdflib.term.URIRef('http://diviloper.dev/ontology#')),
 ('', rdflib.term.URIRef('https://w3id.org/BIGOWLData/')),
 ('obda', rdflib.term.URIRef('https://w3id.org/obda/vocabulary#')),
 ('default1', rdflib.term.URIRef('https://w3id.org/BIGOWLProblems/')),
 ('default2', rdflib.term.URIRef('https://w3id.org/BIGOWLAlgorithms/')),
 ('default3', rdflib.term.URIRef('https://w3id.org/BIGOWLWorkflows/'))]

In [9]:
bigowl_data = Namespace('https://w3id.org/BIGOWLData/')
bigowl_algorithms = Namespace('https://w3id.org/BIGOWLAlgorithms/')
bigowl_problems = Namespace('https://w3id.org/BIGOWLProblems/')
bigowl_workflows = Namespace('https://w3id.org/BIGOWLWorkflows/')
diviloper = Namespace('https://diviloper.dev/ontology#')

In [10]:
print(bigowl_data.TabularDataset)

https://w3id.org/BIGOWLData/TabularDataset

In [11]:
dataset_node = BNode()

In [12]:
g.add((dataset_node, RDF.type, bigowl_data.TabularDataset))

In [14]:
for s, p, o in g.triples((None, RDFS.domain, bigowl_data.TabularDataset)):
    print(f"{s}")

https://w3id.org/BIGOWLData/hasColumn
https://w3id.org/BIGOWLData/hasRow
https://w3id.org/BIGOWLData/commentChar
https://w3id.org/BIGOWLData/delimiter
https://w3id.org/BIGOWLData/doubleQuote
https://w3id.org/BIGOWLData/encoding
https://w3id.org/BIGOWLData/escapeChar
https://w3id.org/BIGOWLData/hasHeader
https://w3id.org/BIGOWLData/lineDelimiter
https://w3id.org/BIGOWLData/mapping
https://w3id.org/BIGOWLData/numberOfColumns
https://w3id.org/BIGOWLData/numberOfLines
https://w3id.org/BIGOWLData/pathTabularDataset
https://w3id.org/BIGOWLData/quoteChar
https://w3id.org/BIGOWLData/quoting
https://w3id.org/BIGOWLData/skipInitialSpace
https://w3id.org/BIGOWLData/skiprows
https://w3id.org/BIGOWLData/strict

In [34]:
dialect.lineterminator

'\r\n'

In [85]:
g.add((dataset_node, bigowl_data.commentChar,))
g.add((dataset_node, bigowl_data.delimiter, Literal(dialect.delimiter)))
g.add((dataset_node, bigowl_data.doubleQuote, Literal(dialect.doublequote)))
g.add((dataset_node, bigowl_data.encoding, Literal(encoding)))
g.add((dataset_node, bigowl_data.escapeChar,))
g.add((dataset_node, bigowl_data.hasHeader, Literal(headers)))
g.add((dataset_node, bigowl_data.lineDelimiter, Literal(dialect.lineterminator)))
g.add((dataset_node, bigowl_data.mapping,))
g.add((dataset_node, bigowl_data.numberOfLines, Literal(num_rows)))
g.add((dataset_node, bigowl_data.numberOfColumns, Literal(num_cols)))
g.add((dataset_node, bigowl_data.pathTabularDataset, Literal(path.abspath(dataset_path))))
g.add((dataset_node, bigowl_data.quoteChar, Literal(dialect.quotechar)))
g.add((dataset_node, bigowl_data.quoting,))
g.add((dataset_node, bigowl_data.skipInitialSpace, Literal(dialect.skipinitialspace)))
g.add((dataset_node, bigowl_data.skiprows,))
g.add((dataset_node, bigowl_data.strict,))

','

In [25]:
df.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [30]:
for s, p, o in g.triples((None, None, bigowl_data.Column)):
    print(f"{s}")

http://diviloper.dev/ontology#isCategorical
http://diviloper.dev/ontology#isUnique
https://w3id.org/BIGOWLData/hasCellInColumn
https://w3id.org/BIGOWLData/hasColumn
https://w3id.org/BIGOWLData/hasDataPrimitiveTypeColumn
https://w3id.org/BIGOWLData/hasColumnName
https://w3id.org/BIGOWLData/hasPosition
https://w3id.org/BIGOWLData/isLabel

In [31]:
def get_column_type(column_type, column):
    if column_type == 'int64':
        return bigowl_data.Integer
    elif column_type == 'float64':
        return bigowl_data.Float
    elif column_type == 'object':
        if column.str.isnumeric().all():
            return bigowl_data.Integer
        else:
            return bigowl_data.String
    else:
        return bigowl_data.String


def has_nulls(column):
    return column.isnull().values.any() or column.isna().values.any()


def is_categorical(column_type, column):
    if column_type != 'object' and column_type != 'int64':
        return False
    else:
        return column.nunique() < column.size / 3


def is_unique(column_type, column):
    if column_type != 'object' and column_type != 'int64':
        return False
    else:
        return column.nunique() == column.size

In [119]:
for col in df.columns:
    print(df[col].dtype)
    col_node = BNode()
    g.add((dataset_node, bigowl_data.hasColumn, col_node))
    g.add((col_node, RDF.type, bigowl_data.Column))
    g.add((col_node, bigowl_data.hasColumnName, Literal(col)))
    g.add((col_node, bigowl_data.hasDataPrimitiveTypeColumn, get_column_type(df[col].dtype.name, df[col])))
    g.add((col_node, diviloper.isCategorical, Literal(is_categorical(df[col].dtype.name, df[col]))))
    g.add((col_node, diviloper.isUnique, Literal(is_unique(df[col].dtype.name, df[col]))))
    g.add((col_node, diviloper.containsNulls, Literal(has_nulls(df[col]))))
    g.add((col_node, bigowl_data.hasPosition, Literal(df.columns.get_loc(col))))

In [33]:
dataset_graph = Graph()
dataset_graph.parse(r'./dataset_annotated.ttl')
abox = Namespace('http://diviloper.dev/ABox#')

for s, p, o in dataset_graph.triples((abox.term('titanic.csv'), None, None)):
    print(f"{s}\n\t{p}\n\t{o}")

http://diviloper.dev/ABox#titanic.csv
	http://www.w3.org/1999/02/22-rdf-syntax-ns#type
	https://w3id.org/BIGOWLData/TabularDataset
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/delimiter
	,
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/doubleQuote
	false
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/encoding
	cp1252
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Age
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Cabin
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Embarked
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Fare
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Name
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Parch
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/PassengerId
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Pclass
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Sex
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/SibSp
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Survived
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasColumn
	http://diviloper.dev/ABox#titanic.csv/Ticket
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/hasHeader
	true
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/lineDelimiter


http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/numberOfColumns
	12
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/numberOfLines
	891
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/pathTabularDataset
	C:\Users\Victor\Development\BDMA\Thesis\DatasetAnnotator\titanic.csv
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/quoteChar
	"
http://diviloper.dev/ABox#titanic.csv
	https://w3id.org/BIGOWLData/skipInitialSpace
	false